.brand-card-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.widget-username {
  padding: 0 5px;
  font-size: 1.3em;
  color: #000;
  background-color: rgba(255,255,255,.6);
  border-radius: 4px;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}